<div class="search-form-container">
  <p class="description">
    Находите знакомых, стройте социальные графы и исследуйте дружеские связи и социальные группы
  </p>

  <form class="search-form" (submit)="_onSearch(_searchQuery)">
    <div class="social-logo">
      <i class="fa fa-vk" aria-hidden="true"></i>
    </div>
    <div class="input-container">
      <input [(ngModel)]="_searchQuery" name="query" placeholder="Ссылка на профиль ВКонтакте" autocomplete="off">
      <button class="search-button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </form>
  <i class="fa fa-spinner fa-spin fa-fw fa-2x loading-indicator" [ngClass]="{'_visible': _loading}"></i>
  <div class="not-found-error" [ngClass]="{'_visible': _notFound}">По запросу "{{_searchQuery}}" пользователей не
    найдено.
  </div>
</div>
