@import "../../../../scss/colors";
@import "../../../../scss/mixins";
@import "../../../../scss/variables";

$img-size: 36px;

:host {
  top: 500px;
  left: 300px;
  z-index: 10;
  position: absolute;
  @include visibility-transition(0.1s);
}

.container {
  display: flex;
  align-items: stretch;
  height: $img-size;
}

img {
  border: 1px solid #2e2e2e;
  border-radius: $border-radius;
  @include light-shadow();
  height: $img-size;
  width: $img-size;
}

.label {
  display: flex;
  align-items: center;
  background: $background-dark-color;
  color: $font-light-color;
  border-radius: $border-radius;
  @include light-shadow();
  padding: 10px;
  margin-left: 3px;
}
