@import "../../../../scss/colors";
@import "../../../../scss/mixins";
@import "../../../../scss/variables";

$img-size: 36px;
$target-indent: 15px;

:host {
  z-index: 10;
  position: absolute;
  margin-top: -$target-indent - $img-size;
  margin-left: $target-indent;
  @include visibility-transition(0.1s);
}

.container {
  display: flex;
  align-items: stretch;
  height: $img-size;
  flex-wrap: nowrap;
}

img, .loading {
  border: 1px solid $background-dark-color;
  background: $background-dark-color;
  border-radius: $border-radius;
  @include light-shadow();
  height: $img-size;
  width: $img-size;
  //color: $font-light-color;
  //font-size: 24px;
  flex-shrink: 0;
}

.label {
  display: flex;
  align-items: center;
  background: $background-dark-color;
  color: $font-light-color;
  border-radius: $border-radius;
  @include light-shadow();
  padding: 10px;
  margin-left: 3px;
}
