@import "../../../scss/colors";
@import "../../../scss/variables";
@import "../../../scss/mixins";

.search-form-container {
  padding: 80px 0;
  text-align: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  color: $font-disguise-color;
  font-size: 15px;
}

.social-logo {
  font-size: 24px;
  padding-right: 16px;
  text-align: center;

  .fa-vk {
    color: $vk-color;
  }

  .fa-facebook {
    color: $facebook-color;
  }

  .fa-instagram {
    color: $instagram-color;
  }
}

.input-container {
  display: flex;
  align-items: center;

  $height: 40px;
  $search-button-width: $height;

  input {
    width: 360px;
    height: $height;
    border-radius: $border-radius;
    border-color: $border-dark-color;
    border-style: none;
    background-color: white;
    padding-right: $search-button-width;
    @include light-shadow;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    }
  }

  .search-button {
    width: $search-button-width;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -$search-button-width;

    background-color: transparent;
    border: none;
    outline: none;
    color: $base-color;
  }

}
