//$blue: #106cc8;
$base-color: #206CAF;
$background-light-color: #fafafa;

$border-color: #e6e6e6;
$dark-border-color: #cccccc;

$light-font-color: #8f8f8f;

$green: #8BC34A;
$dark-grey: #2E2E2E;
$font: #212529;
$dark-blue: #28739e;
$blue: #106cc8;
