@import "../../../../scss/colors";

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 0.5px;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1px;
  //transition: stroke-width 100ms ease-in;

  //&:hover {
  //  fill-opacity: .6;
  //}
}

svg {
  border: 1px solid #dddddd;
  margin: 0 20px;
}
