@import "../../../../scss/colors";
@import "../../../../scss/variables";

$links-color: #888;

.links line {
  stroke: $links-color;
  stroke-opacity: 0.6;
  stroke-width: 0.5px;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1px;
}

svg {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;
  height: 500px;
}
