@import "../../../../scss/colors";
@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  @include visibility-transition();
  @include light-shadow();
  max-width: 240px;
  background: white;
  border-radius: $border-radius;
}

.user-card {
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-weight: normal;
    font-size: 16px;

    a {
      color: $base-color;
      text-decoration: none;

      &:hover {
        color: darken($base-color, 20%)
      }
    }
  }
}

img {
  align-self: center;
  border-radius: $border-radius;
  @include light-shadow();
}
