@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/variables";

.result-user-info {
  padding: 20px 0;
  display: flex;
  align-items: center;
  @include visibility-transition(0.3s);
  font-size: 14px;

  jg-image {
    width: 100px;
    height: 100px;
    @include light-shadow;
    border-radius: $border-radius;
    margin-right: 20px;
  }
}

.result-user-name {
  font-size: 20px;
  font-weight: normal;
}

.graph-container {
  position: relative;
}
