@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/variables";

:host {
  display: block;
}

.result-user-info {
  display: flex;
  @include visibility-transition(0.3s);
  font-size: 14px;

  jg-image {
    @include container-shadow;
    border-radius: $border-radius;
    background-color: $background-primary-color;
  }

  & > div {
    padding: 20px;
    margin-left: 20px;
    flex-grow: 1;
    @include container-shadow;
    border-radius: $border-radius;
    background-color: $background-primary-color;
  }

  a {
    color: $font-default-color;
  }
}

.result-user-name {
  font-size: 20px;
  font-weight: normal;
}

.graph-container {
  margin-top: 20px;
  position: relative;
  @include container-shadow;
  border-radius: $border-radius;
  background-color: $background-primary-color;
}
