@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/variables";

:host {
  display: block;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  @include visibility-transition(0.3s);
  font-size: 14px;

  a {
    color: $font-default-color;
  }
}

jg-image {
  border-radius: 2 * $border-radius;
  margin-right: 30px;
}

.profile-info {
  flex-grow: 1;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  flex-wrap: wrap;
}

.profile-name {
  display: flex;
  align-items: center;
  //flex-wrap: wrap;

  h2 {
    //width: 100%;
    font-size: 20px;
    font-weight: normal;
  }
}

.focus-out {
  color: #939393;
}

.graph-container {
  margin-top: 30px;
  position: relative;
}
