@import "../../../../scss/colors";
@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.user-card {
  position: fixed;
  overflow: auto;
  z-index: 5;
  bottom: 0;
  right: 0;
  @include light-shadow();
  max-width: 240px;
  background: $background-primary-color;
  border-radius: $border-radius;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-height: 100%;

}

.user-name {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

.profile-link {
  margin-left: 5px;
}

jg-image {
  align-self: center;
  border-radius: $border-radius;
  @include visibility-transition(.2s);
}
