@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/variables";

:host {
  display: block;
  position: relative;
}

.search-form {
  background: $background-light-color;
  padding: 20px $margin;
  border-bottom: 1px solid $border-color;

  input {
    width: 300px;
    border-radius: $border-radius;
    border-color: $border-dark-color;
    background-color: white;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset;
    }
  }

  button {
    border-radius: $border-radius;
  }
}

.search-result {
  padding: 20px $margin;
}

.result-user-info {
  padding: 20px 0;
  display: flex;
  align-items: center;
  @include visibility-transition(0.3s);

  img {
    @include light-shadow;
    border-radius: $border-radius;
    margin-right: 20px;
  }
}

.result-user-name {
  color: $base-color;
  font-size: 20px;
  font-weight: normal;
}

.graph-container {
  position: relative;
}
