<form class="search-form" (submit)="onSearch()">
  <p>Howdy! Find yourself and your friends in social networks and analyze social links and activity.</p>

  <input [(ngModel)]="_userQuery" name="userQuery" placeholder="Search user">
  <button>Search</button>
</form>
<div class="search-result">

  <div class="result-user-info" [ngClass]="{_visible: _resultUser}" *ngIf="_resultUser">
    <img src="{{_resultUser.photo_100}}"/>
    <div>
      <h2 class="result-user-name">
        {{_resultUser.first_name}} {{_resultUser.last_name}}
      </h2>
      <span *ngIf="_resultUser.linkDensity">
        Плотность дружеских связей
        {{_resultUser.linkDensity}}%
      </span>
    </div>
  </div>

  <div class="graph-container">
    <jg-user-card #userCard></jg-user-card>
    <jg-graph [data]="_graphData"
              (onUserClick)="userCard.show($event)"
    ></jg-graph>
  </div>
</div>
