@import "../../../scss/mixins";
@import "../../../scss/colors";

:host {
  display: inline-block;
}

.social-icon {

  a {
    font-size: 18px;
    padding: 0;
    text-decoration: none;
  }
}

.fa-vk {
  color: $vk-color;
}

.fa-facebook {
  color: $facebook-color;
}

.fa-twitter {
  color: $twitter-color;
}

.fa-instagram {
  color: $instagram-color;
}

.fa-linkedin {
  color: $linkedin-color;
}
