<div class="page-margin-container">
  <img src="/assets/svg/logo.svg" height="28" class="header-logo"/>
  <nav>
    <a [routerLink]="['/']" [routerLinkActive]="['_router-active']" [routerLinkActiveOptions]="{exact:true}">Главная</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['_router-active']"
       [routerLinkActiveOptions]="{exact:true}">О сервисе</a>
  </nav>
  <div class="right">
    <div class="user-block" [ngClass]="{'_menu_opened': _menuOpened}" *ngIf="_currentUser">
      <div class="user-title" (click)="_onUserMenuClick($event)">
        {{_currentUser?.first_name}}
        <jg-image class="user-picture" [src]="_currentUser?.photo_50"></jg-image>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div class="user-menu">
        <ul>
          <li>
            <a style="cursor: pointer" *ngIf="_authService.isAuthorized()"
               (click)="_authService.logout()">
              Выйти
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
