@import "../../../scss/colors";
@import "../../../scss/variables";
@import "../../../scss/mixins";

.graph-content {
  position: relative;
  display: flex;
  margin: 0;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

canvas {
  width: 100%;
  box-sizing: content-box;
}

.graph-sort-toolbar {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.resize-handle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: $accent-color;
}
