@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/variables";

:host {
  display: block;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @include visibility-transition(0.3s);
  font-size: 14px;

  a {
    color: $font-default-color;
  }
}

jg-image {
  border-radius: 2 * $border-radius;
  margin-right: 40px;
  margin-bottom: 20px;
}

.profile-info {
  flex-grow: 1;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  flex-wrap: wrap;
}

.profile-name {
  display: flex;
  align-items: center;
  //flex-wrap: wrap;

  h2 {
    //width: 100%;
    font-size: 20px;
    font-weight: normal;
  }
}

.profile-params {
  span {
    display: inline-block;
    color: $font-disguise-color;
    width: 120px;
  }
}

.focus-out {
  color: $font-disguise-color;
}

jg-graph {
  margin: 40px 0;
  display: block;
}

.comments {
  display: flex;
  align-items: flex-start;

  .left-side {
    width: 200px;
    margin-right: 30px;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    flex-shrink: 0;
  }
}
