@import "../../../../scss/colors";
@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
}

.user-card {
  position: fixed;
  overflow: auto;
  z-index: 5;
  top: 20px;
  right: 20px;
  @include light-shadow();
  max-width: 240px;
  background: white;
  border-radius: $border-radius;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-weight: normal;
    font-size: 16px;

    a {
      color: $base-color;
      text-decoration: none;

      &:hover {
        color: darken($base-color, 20%)
      }
    }
  }
}

jg-image {
  align-self: center;
  min-height: 200px;
  @include light-shadow;
  border-radius: $border-radius;
}
