<h1>О сервисе</h1>
<p>
  Jgauss – сервис для построения социальных графов. Социальный граф – это ...
</p>

<h2>Справка</h2>
<p>
  На больших социальных графах возможно подтормаживание.
  Для комфортного исследования графа дождитесь окончания загрузки и кластеризации и поставьте анимацию на паузу.
</p>

<p><strong>Поиск в графе</strong> можно выполнять по имени, фамилии, идентификатору, городу, ВУЗу и факультету
  пользователя.</p>

<p>
  <strong>Ранжирование по лайкам</strong> – показываются друзья, которые лайкнули фотографии или записи на стене исследуемого
  пользователя. Чем больше лайков поставил друг – тем более красным он отображается на социальном графе. Ранжирование по
  числу лайков позволяет выявить наиболее симпатизирующих пользователю друзей.
</p>

<h2>Политика конфиденциальности</h2>
<p>
  Приложение не собирает и не хранит личные данные пользователей. Все необходимые данные загружаются приложением из
  социальной сети на устройство пользователя и не передаются на сторонние сервера.
</p>
