<h1>О сервисе</h1>
<p>
  Jgauss - сервис для построения социальных графов. Социальный граф - это ...
</p>
<h2>Как это работает</h2>
<h2>Политика конфиденциальности</h2>
<p>
  Приложение не собирает и не хранит личные данные пользователей. Все необходимые данные загружаются приложением из
  социальной сети на устройство пользователя и не передаются на сторонние сервера.
</p>

<h2 i18n>Features</h2>
<ul>
  <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
  <li>Production and development builds.</li>
  <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
  <li>End-to-end tests with Protractor.</li>
  <li>Development server with live reload.</li>
  <li>TypeScript definition management using Types.</li>
  <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>
