<h1>О сервисе</h1>
<p>
  <strong>Социальный граф</strong> основывается на данных о друзьях из социальной сети. На графе показываются друзья
  пользователя, при этом если какие-то два пользователя на графе дружат, между ними рисуется линия.
</p>
<p>
  Для визуализации друзей используется <i>force-directed graph</i>, то есть граф, вершины которого
  располагаются согласно накладываемым на них силам:
  пользователи отталкиваются друг от друга, а если пара пользователей дружит, то между ними добавляется
  сила притяжения.
</p>
<p>
  Подобное поведение аналогично движению наэлектризованных отталкивающихся друг от друга бусинок,
  скреплённых натянутыми пружинками, если соответствующие бусинкам пользователи дружат.
  Благодаря этому, когда система приходит в равновесие, можно наблюдать разделение пользователей на группы (кластеры)
  с
  большим количеством дружеских связей внутри групп.
</p>
<p>
  Для визуализации графа используется замечательная библиотека d3.js.
</p>

<jg-web [color]="'#559fe0'"></jg-web>

<h2>Справка</h2>
<p>
  На больших социальных графах возможно подтормаживание.
  Для комфортного исследования графа дождитесь окончания загрузки и поставьте анимацию на паузу.
</p>

<p><strong>Поиск в графе</strong> можно выполнять по имени, фамилии, идентификатору, городу, ВУЗу и факультету
  пользователя. Найденные пользователи будут подсвечиваться синим цветом.
</p>

<p>
  <strong>Ранжирование по лайкам</strong> – показываются друзья, которые лайкнули фотографии или записи на стене
  исследуемого пользователя. Чем больше лайков поставил друг – тем краснее его значок на социальном графе.
  Ранжирование по числу лайков позволяет определить наиболее симпатизирующих пользователю друзей.
</p>

<h2>Политика конфиденциальности</h2>
<p>
  Приложение не собирает и не хранит личные данные пользователей, загружаемые из социальной сети.
</p>
<p>
  Приложение использует Google Analytics – это бесплатная служба веб-аналитики от Google, которая позволяет владельцам
  сайтов узнать, как пользователи взаимодействуют со страницами. Сбор информации в ней ведется анонимно.
</p>
