@import "../../../scss/colors";
@import "../../../scss/variables";

:host {
  background-color: $base-color;
  color: $font-light-color;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 $margin;
}

.right {
  text-align: right;
  flex-grow: 1;
}
