@import "../../../scss/colors";
@import "../../../scss/variables";

:host {
  background-color: $base-color;
  color: $font-light-color;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 $margin;
}

h1 {
  display: inline;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 48px;
  flex-grow: 1;
}

.right {
}
