@import "../../../scss/colors";
@import "../../../scss/variables";

$footer-background-color: #505458;

:host {
  margin-top: 40px;
  border-top: 1px solid $font-light-color;
  padding: 60px 0;
  display: block;
  font-size: 14px;
}
