@import "../../../scss/colors";
@import "../../../scss/variables";

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid $border-color;
  color: $font-disguise-color;
}
