@import "../../../../scss/colors";
@import "../../../../scss/mixins";
@import "../../../../scss/variables";

$icon-size: 30px;

.graph-toolbar {
  position: absolute;
  display: flex;
  align-items: center;
  color: $border-dark-color;
  margin: 10px;
}

i {
  width: $icon-size;
  height: $icon-size;
  transition: $icon-button-transition;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $primary-color;
  }
}

.graph-search-form {

  label {
    position: relative;
    display: inline-block;
    min-width: $icon-size;
  }

  input {
    width: $icon-size;
    opacity: 0;
    transition: $icon-button-transition;
    height: $icon-size;

    &:focus {
      width: 200px;
      opacity: 1;
      padding-right: $icon-size;
    }
  }

  i {
    position: absolute;
    top: 0;
    right: 0;
  }

  i:hover, input:focus + i {
    color: $primary-color;
  }
}

.loading-indicator {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -$icon-size;

  &._visible {
    color: $primary-color;
    opacity: 1;
    visibility: visible;
  }
}
